.NavBar {
  display: flex;
  justify-content: space-between;
  padding: 0 10px; 
  border-bottom: 1px solid black;
  height: 50px;
}

.nav-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
}

.nav-list {
  list-style-type: none;
}

.nav-list-item {
  display: inline;
  padding: 5px;
}